/* Global */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
}

/* Header */
header {
    padding: 40px;
    background-color: #e0e0e0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

header sub {
    font-size: 16px;
}

.logo img {
    width: 350px;
    height: auto;
    margin-top: 10px;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

.navigation li {
    display: inline-block;
    margin: 0 20px;
    background-color: #c0c0c0;
    border-radius: 20px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.navigation a:hover {
    transform: scale(1.05);
    background-color: #a0a0a0;
    color: white;
    border-radius: 15px;
}

/* Section */
section {
    padding: 40px;
    margin: 80px 0;
    background-color: #ffffff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

section h3 {
    margin-bottom: 20px;
    font-size: 28px;
}

section p {
    margin-bottom: 30px;
    font-size: 18px;
}


article {
    padding: 35px;
    margin: 40px 0;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

article h3 {
    font-size: 26px;
    margin-bottom: 15px;
}

article p {
    font-size: 18px;
    margin-bottom: 20px;
}

article a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: block;
    padding: 15px;
    border-radius: 4px;
    background-color: #c0c0c0;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

article a:hover {
    transform: translateY(-3px);
    background-color: #888888;
}


main {
    padding: 40px;
    background-color: #f4f4f4;
}

main section {
    margin: 50px 0;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

main section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

main section li {
    background-color: #c0c0c0;
    margin: 15px 0;
    padding: 15px;
    border-radius: 4px;
}

main section a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: block;
    padding: 15px;
    border-radius: 4px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

main section a:hover {
    transform: scale(1.05);
    background-color: #a0a0a0;
    color: white;
}


table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 80%;
}

th,
td {
    border: 1px solid #e1e1e1;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #c0c0c0;
    color: black;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

    .img_index {
        padding: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: #333;
    color: white;
    text-align: left;
    width: 100%;
    font-size: 14px;
}

